name: Deploy to Databricks

on:
  push:
    branches:
      - main

jobs:
  # Deploy to Dev (optional - usually not needed if Dev is Git-linked)
  deploy-dev:
    runs-on: ubuntu-latest
    environment: Development
    env:
      DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Deploy notebooks to Dev
        run: |
          databricks workspace import_dir ./db /Shared --overwrite


  # Deploy to Prod (via pipeline only, no Git link!)
  deploy-prod:
    needs: deploy-dev   # ensure dev job runs first
    runs-on: ubuntu-latest
    environment: Production
    env:
      DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST_PR }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN_PR }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Deploy notebooks to Prod
        run: |
          databricks workspace import-dir ./db /Shared --delete
